[submodule "dep/external/gtest"]
	path = dep/external/gtest
	url = https://github.com/google/googletest.git
[submodule "dep/external/aws_crt"]
	path = dep/external/aws_crt
	url = https://github.com/awslabs/aws-crt-cpp.git
[submodule "dep/internal/iot"]
	path = dep/internal/iot
	url = https://github.com/GlobalLogic-SDV-PoC/github-sdv-poc-msp-iot-bridge.git
