[submodule "dep/internal/iot"]
	path = dep/internal/iot
	url = ssh://APKAS62SYMPIOE3IQOSH@git-codecommit.eu-west-1.amazonaws.com/v1/repos/msp-iot-bridge
	# url = codecommit::eu-west-1://msp-iot-bridge
	# ssh://git-codecommit.eu-west-1.amazonaws.com/v1/repos/msp-iot-bridge
	# url = https://git-codecommit.eu-west-1.amazonaws.com/v1/repos/msp-iot-bridge
[submodule "dep/external/gtest"]
	path = dep/external/gtest
	url = https://github.com/google/googletest.git
[submodule "dep/external/aws_crt"]
	path = dep/external/aws_crt
	url = https://github.com/awslabs/aws-crt-cpp.git
[submodule "thirdparty/sdv_testing_tool"]
	path = thirdparty/sdv_testing_tool
	url = git@portal-ua.globallogic.com:sdv-core/sdv-testing-tool.git